* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    cursor: default;
    outline: none;
    border: none;
}

*:focus {
    outline: none;
}

body {
    background-color: #FFF;
}

header {
    background-color: rgb(35, 35, 35);
}

mark {
    color: rgb(224, 90, 0);
    font-weight: 550;
    background-color: transparent;
}

h3 {
    font-size: 26px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 90, 0);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

.icon i {
    cursor: pointer;
}


#logo {
    margin-left: 15px;
    font-weight: 800;
    color: #FFF;
    font-size: 26px;
    cursor: pointer;
}

.head-config {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 12px;
}

.config-part {
    display:flex;
    justify-content: space-between;
    width: 300px;
}

.head-links {
    border-top: 1px solid rgb(58, 53, 50);
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.head-links nav p{
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
    transition: .3s;
}

.head-links nav p:hover{
    color: rgb(255, 188, 144);
}

.head-things {
    display: flex;
    align-items: center;
    height: 60px;
    gap: 10px;
}

.head-bar {
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.dropdown {
    width: 200px;
    position: relative;
}

.categories {
    background-color: rgb(224, 90, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.categories:active {
    background-color: rgb(148, 45, 4);
}

.categories span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}

.caret {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    transition: 0.2s;
}

.caret i {
    cursor: pointer;
}

.caret-rotate {
    transform: rotate(180deg);
}

.diver-down {
    list-style: none;
    background: #ececec;
    color: black;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 1.9em;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    outline: 1px solid #555555;
}

.diver-down li {
    cursor: pointer;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    font-weight: bold;
    transition: .3s;
}

.diver-down li:last-child {
    margin-bottom: -2px;
    border-bottom: none;
}

.diver-down li:hover {
    color: rgb(243, 97, 0);
}

.open-diver {
    display: block;
    opacity: 1;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 30px;
    background-color: #FFF;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.s-inside {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
}

.s-inside i{
    margin-left: auto;
}

#productList {
    position: absolute;
    width: 98%;
    list-style-type: none;
    top: 32px;
    z-index: 999;
}

#productList li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size:18px;
    color: black;
    border: 1px solid #ddd;
    background: #f6f6f6;
    padding: 10px 20px;
}

#productList li a:hover{
    background: #eee;
}

.item-name {
    margin-left: 15px;
}

.search input {
    background-size: 20px 20px;
    width: 100%;
    height: inherit;
    border: none;
    cursor: text;
    padding-right: 10px;
}

nav {
    font-family: 'Mukta', sans-serif;
    color: #FFF;
    display: flex;
    gap: 30px;
}

.icon-txt {
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
}

.icon-txt:active {
    color: #bea079;
}

.call {
    display: flex;
    max-width: 127px;
    justify-content: center;
    max-height: 30px;
    cursor: pointer;
}

.phone {
    font-size: 12px;
    color: #FFF;
}

.icon-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding-left: 5px;
}

.cesta {
    display: flex;
    align-items: center;
    max-width: 127px;
    cursor: pointer;
}

.cart-qnt {
    color: #FFF;
    margin-left: 35%;
    font-size: 12px;
    margin-top: -14px;
}

.wish {
    display: flex;
    color: #FFF;
    align-items: center;
}

#wishName {
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

#wishName:active {
    color: #bea079;
}

#wishNumber {
    margin-left: 5px;
    font-size: 12px;
}

.vouchers-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40px;
}

.voucher {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 300px;
    background-color: #ececec;
    margin-top: 30px;
    border-radius: 10px;
}

.v-top {
    display: flex;
    padding: 20px;
}

.v-icon {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.v-text {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 30px;
}

.discount-code {
    color: #4b4b4b;
    font-weight: 500;
    margin-left: 20%;
    font-size: 20px;
}

.discount-quantity {
    color: rgb(243, 97, 0);
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
}

.discount-condition {
    margin-top: 10px;
    color: #808080;
}

.discount-selection {
    margin-top: 20px;
    background-color: rgb(255, 188, 144);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(224, 90, 0);
    font-size: 18px;
    height: 30px;
    border-radius: 5px;
    width: 230px;
}

.v-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: rgb(255, 245, 238);
    border-radius: 50%;
    color: rgb(243, 97, 0);
    border: 4px solid rgb(243, 97, 0);
}

.v-bar {
    width: 150px;
    height: 40px;
    background-color: rgb(255, 245, 238);
    border-radius: 5px;
    margin-top: -20px;
    border: 4px solid rgb(243, 97, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(243, 97, 0);
    font-size: 22px;
}

.v-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 6px;
}

.v-borderL {
    width: 15px;
    height: 30px;
    background-color: #FFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.v-dashes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.v-dash {
    height: 2px;
    width: 30px;
    background-color: rgb(190, 190, 190);
}

.v-borderR {
    width: 15px;
    height: 30px;
    background-color: #FFF;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.redeem-voucher {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 245, 238);
    height: 40px;
    width: 50%;
    align-self: center;
    margin-bottom: 15px;
    border: 3px solid rgb(243, 97, 0);
    border-radius: 5px;
    color: rgb(243, 97, 0);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
}

.redeem-voucher span {
    cursor: pointer;
}

.qualities {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(226, 226, 226, 0.7);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 14px;
    align-items: center;
}

.quality {
    display: flex;
    align-items: center;
}

.q-text {
    margin-left: 10px;
}

.q-text h6 {
    font-size: 14px;
}

.q-text p {
    font-size: 12px;
}

.featured-section {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.featured-container {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.featured {
    display: flex;
    width: 50%;
    max-width: 720px;
    height: 100%;
    border-radius: 5px;
}

.featured:hover {
    outline: 1px solid rgb(243, 97, 0);
}

.activeStar {
    color: rgb(255, 197, 73);
}

.feat-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(226, 226, 226, 0.7);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    cursor: pointer;
}

.feat-img img {
    width: auto;
    height: inherit;
    cursor: pointer;
    transform: scale(0.8);
}

.feat-desc {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.feat-desc h6 {
    font-size: 22px;
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
}

.feat-label{
    font-size: 14px;
    cursor: pointer;
}

.discount {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.old-price {
    text-decoration: line-through;
    color: #949494;
    cursor: pointer;
}

.feat-price {
    margin-right: 5px;
    font-weight: bold;
    font-family: sans-serif;
    font-size:26px;
    cursor: pointer;
}

.feat-icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.feat-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 97, 0);
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.feat-icons i:active {
    background-color: rgb(148, 45, 4);
}

.brands-section {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    margin-top: 25px;
    flex-direction: column;
    margin-bottom: 50px;
}

.brands-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}

.brand:first-child {
    border-left: 1px solid rgb(226, 226, 226);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.brand:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.brand {
    height: 100%;
    border: 1px solid rgb(226, 226, 226);
    border-left: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    transition: .3s;
}

.samsung {
    background-image: url(../img/samsung.png);
    background-size: 200px 80px;
}

.xiaomi {
    background-image: url(../img/xiaomi.webp);
    background-size: 150px 150px;
}

.asus {
    background-image: url(../img/asus.png);
    background-size: 150px 150px;
}

.huawei {
    background-image: url(../img/huawei.png);
    background-size: 100px 100px;
}

.moto {
    background-image: url(../img/moto.png);
    background-size: 100px 100px;
}

.brand:hover {
    background-size: 110px 110px;
}

.samsung:hover {
    background-size: 210px 90px;
}

.xiaomi:hover {
    background-size: 160px 160px;
}

.asus:hover {
    background-size: 160px 160px;
}

footer p:hover {
    color: #ffd7a3;
    cursor: pointer;
}

footer i{
    cursor: pointer;
}

.footer-container {
    background-color: rgb(35, 35, 35);
    display: flex;
    height: 300px;
    color: #FFF;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 10px;
}

.brand-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footerLogo {
    font-size: 30px;
    font-weight: 800;
}

.foot-loc {
    display: flex;
    gap: 10px;
    transition: .3s;
}

.foot-loc:hover {
    color: #ffd7a3;
}

.foot-phone {
    display: flex;
    gap: 10px;
    transition: .3s;
}

.foot-phone:hover {
    color: #ffd7a3;
}

.brand-socials{
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.icone-maior {
    width: 30px;
    height: 30px;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.brand-socials i:hover {
    color: #ffd7a3;
    border: 1px solid #ffd7a3;
}

.icone-menor {
    width: 20px;
    height: 20px;
    border: 1px solid #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    display: none;
}

.footSub {
    font-size: 18px;
    margin-bottom: 50px;
}

.foot-categories {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.foot-categories p {
    margin-bottom: 10px;
}

.foot-service {
    display: flex;;
    flex-direction: column;
    margin-bottom: 0px;
}

.foot-about {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#watermark {
    color: #c7c7c7;
    cursor: default;
}

.foot-end {
    color: #FFF;
    border-top: 1px solid rgb(58, 53, 50);
    background-color: rgb(35, 35, 35);
    padding: 5%;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-flags {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flag {
    width: 80px;
    height: 40px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.master {
    background-image: url(../img/master.png);
    background-size: 60px 30px;
}

.visa {
    background-image: url(../img/visa.png);
    background-size: 60px 30px;
}

.paypal {
    background-image: url(../img/paypal.png);
    background-size: 40px 30px;
}

.app-pay {
    background-image: url(../img/apple.png);
    background-size: 60px 25px;
}

.goog-pay{
    background-image: url(../img/googlepay.png);
    background-size: 60px 30px;
}

@media (max-width: 1340px) {

    .search {
        width: 60%;
    }

    .featured-container {
        flex-direction: column;
        align-items: center;
    }
    .featured {
        margin-left: 0;
        width: 100%;
    }

    .featured:last-child{
       margin-top: 20px
    }

    .qualities {
        padding: 10px;
    }
    
    .quality {
        display: flex;
    }
    
    .q-text h6 {
        font-size: 12px;
    }
    
    .q-text p {
        font-size: 10px;
    }

    .samsung {
        background-size: 150px 60px;
    }
    
    .xiaomi {
        background-size: 150px 150px;
    }
    
    .asus {
        background-size: 150px 150px;
    }
    
    .huawei {
        background-size: 100px 100px;
    }
    
    .moto {
        background-size: 100px 100px;
    }
    
    .brand:hover {
        background-size: 110px 110px;
    }
    
    .samsung:hover {
        background-size: 160px 70px;
    }
    
    .xiaomi:hover {
        background-size: 160px 160px;
    }
    
    .asus:hover {
        background-size: 160px 160px;
    }
}


@media (max-width: 970px) {
    nav {
        gap: 10px;
        font-size: 12px;
    }

    #logo {
        font-size: 22px;
        margin-left: 5px;
    }

    .icon-text {
        font-size: 14px;
        width: 80px;
    }

    .phone {
        font-size: 10px;
    }

    .banner {
        height: 300px;
    }

    .buttons{
        margin-top: 125px;
    }

    .cat-select{
        display: none;
    }

    .top-categories {
        width: 100%;
        height: 150px;
    }

    .categorie {
        padding: 5px
    }

    .dropdown {
        width: 150px;
    }

    .categories span{
        font-size: 14px;
    }

    .brands-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .brand{
        width: 60%;
        height: 150px;
        border: 1px solid rgb(226, 226, 226);
        border-bottom: none;
    }
    .brand:last-child {
        border-bottom: 1px solid rgb(226, 226, 226);
    }

    .footer-container {
        padding: 20px 5px;
        height: 180px;
    }
    
    #footerLogo {
        font-size: 22px;
        font-weight: 800;
    }
    
    .brand-socials{
        display: flex;
        justify-content: space-between;
        width: 135px;
    }
    
    .footSub {
        font-size: 16px;
        margin-bottom: 30px;
    }

    footer p{
        font-size: 12px;
    }
    
    #watermark {
        color: #c7c7c7;
        cursor: default;
        font-size: 12px;
    }
}



@media (max-width: 700px) {
    h3{
        font-size: 20px;
    }

    nav {
        gap: 5px;
        font-size: 8px;
    }

    #logo {
        font-size: 14px;
        margin-left: 5px;
    }

    #wishName{
        display: none;
    }

    .icon {
        margin-right: 5px;
    }

    .icon-text {
        font-size: 10px;
        width: 80px;
        display: none;
    }

    .dropdown {
        width: 100px;
    }

    .categories span{
        font-size: 10px;
        font-family: sans-serif;
        letter-spacing: 0px;
        margin-right: 0px;
    }

    .caret {
        display: none;
    }

    .diver-down {
        padding: 3px;
    }

    li {
        font-size: 12px;
    }

    .voucher {
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 200px;
        background-color: #ececec;
        margin-top: 30px;
        border-radius: 10px;
    }
    
    .v-top {
        display: flex;
        padding: 5px;
        padding-top: 8px;
    }
    
    .v-icon {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
    }
    
    .v-text {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .discount-code {
        color: #4b4b4b;
        font-weight: 500;
        margin-left: 20%;
        font-size: 14px;
    }
    
    .discount-quantity {
        font-weight: 600;
        font-size: 18px;
        margin-top: 5px;
    }
    
    .discount-condition {
        font-size: 14px;
        margin-top: 5px;
        color: #808080;
    }
    
    .discount-selection {
        margin-top: 5px;
        color: rgb(224, 90, 0);
        font-size: 14px;
        width: 180px;
    }
    
    .v-circle {
        height: 100px;
        width: 100px;
        border: 3px solid rgb(243, 97, 0);
    }
    
    .v-bar {
        width: 100px;
        height: 30px;
        border: 3px solid rgb(243, 97, 0);
        font-size: 16px;
    }
    
    .v-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        margin-bottom: 6px;
    }
    
    .v-borderL {
        width: 10px;
        height: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
    .v-dashes {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }
    
    .v-dash {
        height: 2px;
        width: 15px;
        background-color: rgb(190, 190, 190);
    }
    
    .v-borderR {
        width: 10px;
        height: 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    .redeem-voucher {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 245, 238);
        height: 30px;
        width: 50%;
        align-self: center;
        margin-bottom: 10px;
        border: 2px solid rgb(243, 97, 0);
        letter-spacing: 1px;
        font-size: 14px;
    }

    .qualities {
        padding: 10px;
        flex-direction: column;
        border-radius: 5px;
        gap: 10px;
    }
    
    .quality {
        display: flex;
        justify-content: center;
    }
    
    .q-text h6 {
        font-size: 14px;
    }
    
    .q-text p {
        font-size: 12px;
    }

    .featured-container {
        justify-content: center;
        gap: 20px;
    }

    .featured {
        padding-top: 15px;
        flex-direction: column;
        align-items: center;
    }

    .feat-img {
        height: 250px;
        width: 250px;
    }

    .brand{
        width: 100%;
    }

    .flag {
        width: 40px;
        height: 20px;
        background-color: #FFF;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px;
    }
    
    .master {
        background-image: url(../img/master.png);
        background-size: 30px 15px;
    }
    
    .visa {
        background-image: url(../img/visa.png);
        background-size: 30px 15px;
    }
    
    .paypal {
        background-image: url(../img/paypal.png);
        background-size: 20px 15px;
    }
    
    .app-pay {
        background-image: url(../img/apple.png);
        background-size: 30px 12px;
    }
    
    .goog-pay{
        background-image: url(../img/googlepay.png);
        background-size: 30px 15px;
    }

    .footer-container {
        padding: 20px 5px;
        height: 180px;
    }

    .brand-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100px;
    }
    
    #footerLogo {
        font-size: 14px;
        font-weight: 800;
    }
    
    .brand-socials{
        display: flex;
        justify-content: space-between;
        width: 90px;
    }
    
    .icone-maior {
        display: none;
    }

    .icone-menor {
        display: flex;
    }
    
    .footSub {
        font-size: 12px;
        margin-bottom: 30px;
    }

    footer p{
        font-size: 8px;
    }
    
    #watermark {
        color: #c7c7c7;
        cursor: default;
        font-size: 8px;
    }

    .foot-categories {
        text-align: center;
    }

    .foot-service {
        text-align: center;
    }

    .foot-about {
        text-align: center;
    }
}
